<header class="navbar-static">
    <nav class="navbar-full">
        <div class="logo"><div class="logo-circle">立</div> 立法院 Legislature</div>
        <ul class="nav-links">
            <li><a href="index.html" data-nav="index">首頁</a></li>
            <li><a href="about.html" data-nav="about">關於我們</a></li> 
            <li><a href="members.html" data-nav="members">成員介紹</a></li> 
            <li><a href="../events.html" data-nav="events">活動行程</a></li>
            <li><a href="Other.html" data-nav="other">其他</a></li>
        </ul>
    </nav>
</header>

